#air_quality_data
{
    width:25%;
    /* height:5%; */
    margin-left:75%;
    /* display:block; */
    text-align: center;
    background-color: lightcyan;
}

#air_quality_data p
{
    text-align: left;

}


#weather_data
{
    width:25%;
    /* height:5%; */
    margin-left:75%;
    /* display:block; */
    text-align: center;
    background-color: lightcyan;
}
#weather_data p
{
    text-align: left;
}

.data-container {
    display: flex;
    justify-content: space-between;  /* left & right */
    align-items: flex-start;
    padding: 20px;
}

.data-box {
    width: 45%;        /* each takes nearly half screen */
    padding: 20px;
}

.logo {
    width: 25%;
    margin-top: 10px;
}